<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Octivity</title>
    <base href="/">
    <meta name="author" content="https://github.com/narusemotoki">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  </head>
  <body class="container">
    <div class="page-header">
      <h1><a href="/">Octivity</a></h1>
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
